.root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarContainer {
  background-color: #fcd950;
  height: 100vh;
}
.hamBurgerMenu {
  display: none;
}
.navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarContainer .logo {
  width: 5.5rem;
  padding-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcd950;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
}
.header.addWhiteBg {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header.removeWhiteBg {
  background-color: transparent;
}

.header.top_24 {
  top: -10vh;
}

.header.top_0 {
  top: 0;
}

.leftMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItems {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: rgba(33, 33, 33, 0.7);
}
.smCallText,
.smChatText {
  display: none;
}
.menuItems li {
  padding: 0 20px;
  font-weight: 600;
}
.menuItems li span,
.menuItems li button {
  cursor: pointer;
}
.headerInfo {
  display: flex;
  align-items: center;
}
.headerInfo span {
  padding-right: 10px;
}
.headerInfoBtn button {
  background-color: rgba(33, 33, 33, 0.05);
  font-size: 15px;
  font-weight: 600;
  padding: 18px;
  border-radius: 25px;
  color: #212121;
}

@media screen and (max-width: 1327px) {
  .hamBurgerMenu {
    display: block;
  }
  .hamburgerMenuItem {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .lgMobileNo,
  .lgChatText,
  .headerInfoBtn {
    display: none;
  }
  .smCallText,
  .smChatText {
    display: block;
  }
  .headerInfo {
    background-color: rgba(33, 33, 33, 0.05);
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    border-radius: 25px;
    color: #212121;
  }
  .menuItems li {
    padding: 0 5px;
  }
  .header.bgWhite {
    background-color: white;
  }
  .smNavbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 1px solid lightgray;
  }
  .header.addWhiteBg {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
